Repository 2025-cs-study/long-octopus-leg, pull requests merged in 2025-04, with the labels that each got.

#66 [서희] Java : 스트림 요소 처리 README.md 업데이트
  java/17_stream_processing/README.md
Labels: java, readme

#68 [민주] Java : 자바 21에서 강화된 언어 및 라이브러리
  java/21_java21_features/21.6_virtual-thread.md
  java/21_java21_features/21.7_sequenced-collection.md
  java/21_java21_features/21.8_charset.md
Labels: java

#69 [서희] Java : 자바 21에서 강화된 언어 및 라이브러리
  java/21_java21_features/21.1_Java21_enhancements.md
  java/21_java21_features/21.2_local_variable_type_inference.md
  java/21_java21_features/21.3_null_handling_in_switch_statements.md
  java/21_java21_features/21.4_pattern_matching_in_switch_statements.md
  java/21_java21_features/21.5_record_patterns.md
  java/21_java21_features/img/1.png
  java/21_java21_features/img/2.png
  java/21_java21_features/img/3.png
  java/21_java21_features/img/4.png
  java/21_java21_features/img/5.png
Labels: java

#75 [서희] Java : 자바 21에서 강화된 언어 및 라이브러리 README.md 업데이트 및 Spring 초기 세팅
  java/17_stream_processing/README.md
  java/21_java21_features/21.1_Java21_enhancements.md
  java/21_java21_features/21.2_local_variable_type_inference.md
  java/21_java21_features/README.md
  java/README.md
  spring/01_spring_in_the_real_world/README.md
  spring/02_spring_context:_bean_definitions/README.md
  spring/03_spring_context:_bean_construction/README.md
  spring/04_spring_context:_abstractions/README.md
  spring/05_spring_context:_bean_scopes_and_lifecycles/README.md
  spring/06_using_aspects_with_spring_aop/README.md
  spring/07_understanding_spring_boot_and_spring_mvc/README.md
  spring/08_implementing_web_applications_with_spring_boot_and_spring_mvc/README.md
  spring/09_spring_web_scopes/README.md
  spring/10_implementing_rest_services/README.md
  spring/11_using_rest_endpoints/README.md
  spring/12_using_data_sources_in_spring_applications/README.md
  spring/13_using_transactions_in_spring_applications/README.md
  spring/14_implementing_data_persistence_with_spring_data/README.md
  spring/15_testing_spring_applications/README.md
  spring/A1_architectural_approaches/README.md
  spring/A2_using_xml_for_context_configuration/README.md
  spring/A3_understanding_http_basics/README.md
  spring/A4_using_json_format/README.md
  spring/README.md
Labels: java, spring, readme

#76 [민주] 레포지토리 README.md에 스프링 교과서 책 추가
  README.md
Labels: spring, readme

#77 [서희] Spring 폴더 이름 변경
  spring/02_spring_context__bean_definitions/README.md
  spring/03_spring_context__bean_construction/README.md
  spring/04_spring_context__abstractions/README.md
  spring/05_spring_context__bean_scopes_and_lifecycles/README.md
Labels: spring

#78 [민주] Spring : 스프링 컨텍스트: 빈 정의
  spring/02_spring_context__bean_definitions/2.1_maven_project.md
  spring/02_spring_context__bean_definitions/2.2_spring_context_new_bean.md
Labels: spring

#79 [서희] Spring : 현실 세계의 스프링
  spring/01_spring_in_the_real_world/1.1_evolution_to_microservice_architecture.md
  spring/01_spring_in_the_real_world/1.2_spring_ecosystem.md
  spring/01_spring_in_the_real_world/1.3_spring_in_real_world_scenarios.md
  spring/01_spring_in_the_real_world/1.4_when_not_to_use_frameworks.md
  spring/01_spring_in_the_real_world/img/IoC.png
  spring/01_spring_in_the_real_world/img/백엔드.png
  spring/01_spring_in_the_real_world/img/태양계.png
  spring/01_spring_in_the_real_world/img/테스트 앱.png
Labels: spring

#82 [서희] Spring : 현실 세계의 스프링 & 스프링 컨텍스트: 빈 정의 README.md 업데이트
  spring/01_spring_in_the_real_world/README.md
  spring/02_spring_context__bean_definitions/README.md
  spring/README.md
Labels: spring, readme

#83 [서희] Spring : 스프링 컨텍스트: 빈 작성
  spring/03_spring_context__bean_construction/3.1_implementing_bean_relationships.md
  spring/03_spring_context__bean_construction/3.2_autowired_bean_injection.md
  spring/03_spring_context__bean_construction/3.3_handling_circular_dependencies.md
  spring/03_spring_context__bean_construction/3.4_selecting_among_multiple_beans.md
  spring/03_spring_context__bean_construction/README.md
  spring/03_spring_context__bean_construction/img/3_1.png
  spring/03_spring_context__bean_construction/img/3_1_1.png
  spring/03_spring_context__bean_construction/img/3_3.png
Labels: spring, readme

#88 [서희] Spring : 스프링 AOP로 애스펙트 사용
  spring/06_using_aspects_with_spring_aop/6.1_how_spring_aspect_works.md
  spring/06_using_aspects_with_spring_aop/6.2_implementing_aspects_using_spring_aop.md
  spring/06_using_aspects_with_spring_aop/6.3_aspect_execution_chain.md
  spring/06_using_aspects_with_spring_aop/README.md
  spring/06_using_aspects_with_spring_aop/img/6_1.png
  spring/06_using_aspects_with_spring_aop/img/6_2_1.png
  spring/06_using_aspects_with_spring_aop/img/6_2_2.png
  spring/06_using_aspects_with_spring_aop/img/6_2_3.png
  spring/06_using_aspects_with_spring_aop/img/6_2_4.png
  spring/06_using_aspects_with_spring_aop/img/6_2_5.png
  spring/06_using_aspects_with_spring_aop/img/6_3_1.png
  spring/06_using_aspects_with_spring_aop/img/6_3_2.png
  spring/06_using_aspects_with_spring_aop/img/6_3_3.png
Labels: spring, readme

#91 [민주] Spring : 스프링 컨텍스트: 빈의 스코프 및 수명 주기
  spring/05_spring_context__bean_scopes_and_lifecycles/5.1_singleton_bean_scope.md
  spring/05_spring_context__bean_scopes_and_lifecycles/5.2_prototype_bean_scope.md
Labels: spring
