Repository 2025-cs-study/long-octopus-leg, pull requests merged in 2025-01, with the labels that each got.

#13 [민주] 트랜잭션과 무결성, 데이터베이스의 종류, 인덱스, 조인의 종류, 조인의 원리
  README.md
  database/4.3_transaction_and_integrity.md
  database/4.4_types_of_databases.md
  database/4.5_index.md
  database/4.6_types_of_joins.md
  database/4.7_principles_of_join.md
  os/README.md
Labels: database

#17 [서희] 비선형 자료 구조
  .github/ISSUE_TEMPLATE/이번주-주제.md
  datastructure/5.3_non_linear_data_structure.md
  datastructure/img/AVL트리.png
  datastructure/img/outdegree_indegree.png
  datastructure/img/레드_블랙_트리.png
  datastructure/img/우선순위_큐.png
  datastructure/img/이진_탐색_트리.png
  datastructure/img/이진탐색트리_최악.png
  datastructure/img/이진트리1.png
  datastructure/img/이진트리2.png
  datastructure/img/정점과_간선.png
  datastructure/img/최대힙의_삭제.png
  datastructure/img/최대힙의_삽입.png
  datastructure/img/트리.png
  datastructure/img/트리의_높이와_레벨.png
Labels: data structure

#22 [민주] 자료구조 README.md에 예상 질문 추가
  README.md
  datastructure/README.md
Labels: data structure, readme

#26 [서희] Java : 참조 타입
  java/05_reference_types/5.10_for_each_loop.md
  java/05_reference_types/5.11_main(String[] args)_used_for.md
  java/05_reference_types/5.12_Enum_type.md
  java/05_reference_types/5.7_multi_dimensional_array.md
  java/05_reference_types/5.8_array_of_objects.md
  java/05_reference_types/5.9_array_copy.md
  java/05_reference_types/img/for_each_loop.png
  java/05_reference_types/img/객체배열.png
  java/05_reference_types/img/객체배열2.png
  java/05_reference_types/img/다차원배열_생성1.png
  java/05_reference_types/img/다차원배열_생성2.png
Labels: java

#29 [서희] Java : 참조타입 README.md 목차 작성
  java/05_reference_types/README.md
Labels: java, readme
